#first {
      background-color: #E0FFFF;
      text-align: center;

    }
#second {
  	background-color: #FFC0CB;
    text-align: center;
  	}
#all { 
  	height: 975px;
  	width: 750px;
  	background-color: #FFF0F5;
   	margin: 10px auto 10px auto;
  	}
#image { 
    width: auto; height: auto;
    max-width: 350px;
    max-height: 350px;
  }
h2, p {
  		line-height: 1.2em;
   		text-align: center;
 	}
table{
  width: 90%;
  margin: 10px auto 10px auto;
  border: 1px solid #444444;
  border-collapse: collapse;
  }
body th, td{
    border: 1px solid #444444;
    padding: 10px;
    text-align: center;
    }

#watcha th{
      background-color: #9F84D9;
    }
#watcha td{
      background-color: #CFBFFB;
    }

#laftel th{
      background-color: #DAA0F2;
    }
#laftel td{
      background-color: #E4C2F2;
    }

#netflix th{
      background-color: #E57373;
    }
#netflix td{
      background-color: #EF9A9A;
    }

#seezn th{
      background-color: #D984A3;
    }
#seezn td{
      background-color: #F2C9E0;
    }

#tving th{
      background-color: #DD868C;
    }
#tving td{
      background-color: #ECBEC3;
    }

#wavve th{
      background-color: #77A2DC;
    }
#wavve td{
      background-color: #99C0EC;
    }